#poster {
    display: flex;
    flex-direction: row;
    height: 15rem;
    padding: 0.5em;
    background-color: beige;
    max-width: 500px;

    #imgContainer {
        max-height: 240px;
        max-width: 163px;
    
        img {
            max-height: 100%;
        }
    }
}

#details {
    padding: 1rem;
    flex-grow: 1;

    h2 {
        width: 100%;
        margin-top: 0em;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.3em;
    }
    h3 {
        width: 100%;
        font-size: 0.7rem;
        color: #00000082;
    }
    ul {
        padding-left: 1em;
        width: 100%;
        font-size: 0.8em;
    }
}