#poster {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  background-color: beige;
  max-width: 25em;
  border-style: solid;
  border-color: #d9dabd;
  border-radius: 10px;
}
#poster #imgContainer {
  max-height: 15em;
}
#poster #imgContainer img {
  max-height: inherit;
  border-radius: 5px;
}
#poster #details {
  padding: 1rem;
  flex-grow: 1;
}
#poster #details .stars {
  user-select: none;
  cursor: pointer;
  font-size: 0.7em;
  color: #b4b4b4;
}
#poster #details .stars span.filled {
  color: black;
}
#poster #details h2 {
  margin-top: 0em;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3em;
}
#poster #details h3 {
  font-size: 0.7rem;
  color: #00000082;
}
#poster #details ul {
  padding-left: 1em;
  width: 100%;
  font-size: 0.8em;
}
