<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <title id="pageTitle"></title>
</head>

<body ng-app="movieCardApp" ng-cloack>
    <div id="poster" ng-controller="movieCardAppController">
        <div id="imgContainer">
            <img id="imgPic" ng-src="{{movie.imgUrl}}">
        </div>
        <div id="details">
            <div class="stars">
                <span ng-class="{filled: rating>=1}" ng-click="changeStarRating(1)">&#9733;</span>
                <span ng-class="{filled: rating>=2}" ng-click="changeStarRating(2)">&#9733;</span>
                <span ng-class="{filled: rating>=3}" ng-click="changeStarRating(3)">&#9733;</span>
                <span ng-class="{filled: rating>=4}" ng-click="changeStarRating(4)">&#9733;</span>
                <span ng-class="{filled: rating==5}" ng-click="changeStarRating(5)">&#9733;</span>
            </div>
            <h2 id="movieTitle">{{movie.title}}</h2>
            <h3 id="movieDescription">{{movie.description}}</h3>
            <ul id="movieActors">
                <li ng-repeat="actor in movie.actors">{{actor}}</li>
            </ul>
        </div>
    </div>
    <script src="bundle.js"></script>
</body>

</html>